ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 80rem;
}

p{
    font-size: 15px;
}

input{
    border-radius: 5px;
    height:20px;
    margin-right: 10px;
}

button{
    cursor: pointer;
    background-color: navy;
    color: oldlace;
    font-weight: 900;
    padding: 5px;
    border-radius: 8px;
}

.subtotal{
    font-weight: bold;
    margin-left: 20px;
    text-align: justify;
}

span{
    font-weight: bold;
}